.footer-container {
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(3, 3, 3) 100%);
    padding-left: 21px;
    padding-right: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon-link {
    color: #fff;
    font-size: 36px;
}

.social-media {
    max-width: 1000px;
    width: 100%;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    padding-bottom: 21px;
    margin-top: 7px;
}

.social-logo {
    color: #fff;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 38px;
    display: flex;
    align-items: center;
    margin: 21px;
    padding: 21px;
}

/*.website-rights {*/
/*    color: #fff;*/
/*    margin-bottom: 26px;*/
/*}*/

