* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
video {
  object-fit: cover;
  width: 100%;
  height: 80%;
  position: fixed;
  z-index: -1;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
<<<<<<< HEAD
  background-image: url('webdevONE.jpg');
=======
  background-image: url('HART LOGO copy 2.png');
>>>>>>> 7ea9cbb5241af9e749928b6f27b7b24b63244fef
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
<<<<<<< HEAD
  /*background-image: url('webdevONE.jpg');*/
=======
  background-image: url('HART LOGO copy 2.png');
>>>>>>> 7ea9cbb5241af9e749928b6f27b7b24b63244fef
  background-position: center;

  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
<<<<<<< HEAD
  background-image: url('webdevONE.jpg');
=======
  background-image: url('HART LOGO copy 2.png');
>>>>>>> 7ea9cbb5241af9e749928b6f27b7b24b63244fef
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
